</html>
* {
    box-sizing: border-box;
}
body, html {
    min-height: 100vh;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: #FFD9DA;
}
img {
    max-width:100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #3E2A35;
}

h4 {
    font-size: 30px;
    color: #272838;
    text-align: center;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    border-bottom: 3px solid #3E2A35;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-image: url(../imgs/moonicon.png);
    width: 50px;
    height: 50px;
    background-size: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    grid-gap: 30px;
}

footer {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    grid-gap : 50px;
}

a {
    text-decoration: none;
    color: #961D4E;
}

.credits {
    text-align: right;
}

.joke {
    font-size: 50px;
    font-weight: bold;
    cursor: url(../imgs/raincloud.png), auto;
}

/* .joke*/
.joke h4:not(:first-child){
    display: none;
}